# Lecture 10

## Example 1 Parsing Date

In [27]:
import numpy as np
import pandas as pd

In [28]:
df=pd.read_csv(r"/home/ahmed/Downloads/database.csv")

In [29]:
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23412 non-null  object
 1   Time                        23412 non-null  object
 2   Latitude                    23412 non-null  float64
 3   Longitude                   23412 non-null  float64
 4   Type                        23412 non-null  object
 5   Depth                       23412 non-null  float64
 6   Depth Error                 4461 non-null   float64
 7   Depth Seismic Stations      7097 non-null   float64
 8   Magnitude                   23412 non-null  float64
 9   Magnitude Type              23409 non-null  object
 10  Magnitude Error             327 non-null    float64
 11  Magnitude Seismic Stations  2564 non-null   float64
 12  Azimuthal Gap               7299 non-null   float64
 13  Horizontal Distance         1604 non-null   float64
 14  Horizontal Error            1156 non-null   float64
 15  Root Mean Square            17352 non-null  float64
 16  ID                          23412 non-null  object
 17  Source                      23412 non-null  object
 18  Location Source             23412 non-null  object
 19  Magnitude Source            23412 non-null  object
 20  Status                      23412 non-null  object
dtypes: float64(12), object(9)
memory usage: 3.8+ MB

In [31]:
df['newDate']=pd.to_datetime(df['Date'],format="%m/%d/%Y")

ValueError: time data "1975-02-23T02:58:41.000Z" doesn't match format "%m/%d/%Y", at position 2095. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [32]:
df['Date'].str.len().value_counts()

Date
10    23409
24        3
Name: count, dtype: int64

In [33]:
filtered_df = df[df['Date'].str.len() == 24]
print(filtered_df)

                           Date                      Time  Latitude  \
3378   1975-02-23T02:58:41.000Z  1975-02-23T02:58:41.000Z     8.017
7512   1985-04-28T02:53:41.530Z  1985-04-28T02:53:41.530Z   -32.998
20650  2011-03-13T02:23:34.520Z  2011-03-13T02:23:34.520Z    36.344

       Longitude        Type  Depth  Depth Error  Depth Seismic Stations  \
3378     124.075  Earthquake  623.0          NaN                     NaN
7512     -71.766  Earthquake   33.0          NaN                     NaN
20650    142.344  Earthquake   10.1         13.9                   289.0

       Magnitude Magnitude Type  ...  Magnitude Seismic Stations  \
3378         5.6             MB  ...                         NaN
7512         5.6             MW  ...                         NaN
20650        5.8            MWC  ...                         NaN

       Azimuthal Gap  Horizontal Distance  Horizontal Error  Root Mean Square  \
3378             NaN                  NaN               NaN               NaN
7512             NaN                  NaN               NaN              1.30
20650           32.3                  NaN               NaN              1.06

               ID Source Location Source Magnitude Source    Status
3378   USP0000A09     US              US               US  Reviewed
7512   USP0002E81     US              US              HRV  Reviewed
20650  USP000HWQP     US              US             GCMT  Reviewed

[3 rows x 21 columns]

In [34]:
from datetime import datetime

def convert_date_format(date_str):
    try:
        # Try format with milliseconds
        return datetime.strptime(date_str, '%Y-%m-%dT%H:%M:%S.%fZ').strftime('%m/%d/%Y')
    except ValueError:
        try:
            # Try format without milliseconds
            return datetime.strptime(date_str, '%Y-%m-%dT%H:%M:%SZ').strftime('%m/%d/%Y')
        except ValueError:
            # If already in MM/DD/YYYY format, return as-is
            return date_str

# Apply the function to the Date column
df['newDate'] = df['Date'].apply(convert_date_format)

print(df)

             Date      Time  Latitude  Longitude        Type   Depth  \
0      01/02/1965  13:44:18   19.2460   145.6160  Earthquake  131.60
1      01/04/1965  11:29:49    1.8630   127.3520  Earthquake   80.00
2      01/05/1965  18:05:58  -20.5790  -173.9720  Earthquake   20.00
3      01/08/1965  18:49:43  -59.0760   -23.5570  Earthquake   15.00
4      01/09/1965  13:32:50   11.9380   126.4270  Earthquake   15.00
...           ...       ...       ...        ...         ...     ...
23407  12/28/2016  08:22:12   38.3917  -118.8941  Earthquake   12.30
23408  12/28/2016  09:13:47   38.3777  -118.8957  Earthquake    8.80
23409  12/28/2016  12:38:51   36.9179   140.4262  Earthquake   10.00
23410  12/29/2016  22:30:19   -9.0283   118.6639  Earthquake   79.00
23411  12/30/2016  20:08:28   37.3973   141.4103  Earthquake   11.94

       Depth Error  Depth Seismic Stations  Magnitude Magnitude Type  ...  \
0              NaN                     NaN        6.0             MW  ...
1              NaN                     NaN        5.8             MW  ...
2              NaN                     NaN        6.2             MW  ...
3              NaN                     NaN        5.8             MW  ...
4              NaN                     NaN        5.8             MW  ...
...            ...                     ...        ...            ...  ...
23407          1.2                    40.0        5.6             ML  ...
23408          2.0                    33.0        5.5             ML  ...
23409          1.8                     NaN        5.9            MWW  ...
23410          1.8                     NaN        6.3            MWW  ...
23411          2.2                     NaN        5.5             MB  ...

       Azimuthal Gap  Horizontal Distance  Horizontal Error  Root Mean Square  \
0                NaN                  NaN               NaN               NaN
1                NaN                  NaN               NaN               NaN
2                NaN                  NaN               NaN               NaN
3                NaN                  NaN               NaN               NaN
4                NaN                  NaN               NaN               NaN
...              ...                  ...               ...               ...
23407          42.47                0.120               NaN            0.1898
23408          48.58                0.129               NaN            0.2187
23409          91.00                0.992               4.8            1.5200
23410          26.00                3.553               6.0            1.4300
23411          97.00                0.681               4.5            0.9100

                 ID  Source Location Source Magnitude Source     Status  \
0      ISCGEM860706  ISCGEM          ISCGEM           ISCGEM  Automatic
1      ISCGEM860737  ISCGEM          ISCGEM           ISCGEM  Automatic
2      ISCGEM860762  ISCGEM          ISCGEM           ISCGEM  Automatic
3      ISCGEM860856  ISCGEM          ISCGEM           ISCGEM  Automatic
4      ISCGEM860890  ISCGEM          ISCGEM           ISCGEM  Automatic
...             ...     ...             ...              ...        ...
23407    NN00570710      NN              NN               NN   Reviewed
23408    NN00570744      NN              NN               NN   Reviewed
23409    US10007NAF      US              US               US   Reviewed
23410    US10007NL0      US              US               US   Reviewed
23411    US10007NTD      US              US               US   Reviewed

          newDate
0      01/02/1965
1      01/04/1965
2      01/05/1965
3      01/08/1965
4      01/09/1965
...           ...
23407  12/28/2016
23408  12/28/2016
23409  12/28/2016
23410  12/29/2016
23411  12/30/2016

[23412 rows x 22 columns]

In [35]:
df

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,newDate
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic,01/02/1965
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic,01/04/1965
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic,01/05/1965
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic,01/08/1965
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic,01/09/1965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed,12/28/2016
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed,12/28/2016
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed,12/28/2016
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed,12/29/2016
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed,12/30/2016

In [37]:
df['newDate']=pd.to_datetime(df['newDate'],format="%m/%d/%Y")

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23412 non-null  object
 1   Time                        23412 non-null  object
 2   Latitude                    23412 non-null  float64
 3   Longitude                   23412 non-null  float64
 4   Type                        23412 non-null  object
 5   Depth                       23412 non-null  float64
 6   Depth Error                 4461 non-null   float64
 7   Depth Seismic Stations      7097 non-null   float64
 8   Magnitude                   23412 non-null  float64
 9   Magnitude Type              23409 non-null  object
 10  Magnitude Error             327 non-null    float64
 11  Magnitude Seismic Stations  2564 non-null   float64
 12  Azimuthal Gap               7299 non-null   float64
 13  Horizontal Distance         1604 non-null   float64
 14  Horizontal Error            1156 non-null   float64
 15  Root Mean Square            17352 non-null  float64
 16  ID                          23412 non-null  object
 17  Source                      23412 non-null  object
 18  Location Source             23412 non-null  object
 19  Magnitude Source            23412 non-null  object
 20  Status                      23412 non-null  object
 21  newDate                     23412 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(12), object(9)
memory usage: 3.9+ MB

## Example 2 Inconsistent Data Entry

In [40]:
df2=pd.read_csv(r"/home/ahmed/Downloads/pakistan_intellectual_capital.csv")

In [41]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1142 entries, 0 to 1141
Data columns (total 13 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Unnamed: 0                                 1142 non-null   int64
 1   S#                                         1142 non-null   int64
 2   Teacher Name                               1142 non-null   object
 3   University Currently Teaching              1142 non-null   object
 4   Department                                 1142 non-null   object
 5   Province University Located                1142 non-null   object
 6   Designation                                1123 non-null   object
 7   Terminal Degree                            1138 non-null   object
 8   Graduated from                             1142 non-null   object
 9   Country                                    1142 non-null   object
 10  Year                                       489 non-null    float64
 11  Area of Specialization/Research Interests  623 non-null    object
 12  Other Information                          124 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 116.1+ KB

In [42]:
df2.head()

,Unnamed: 0,S#,Teacher Name,University Currently Teaching,Department,Province University Located,Designation,Terminal Degree,Graduated from,Country,Year,Area of Specialization/Research Interests,Other Information
0,2,3,Dr. Abdul Basit,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,Software Engineering & DBMS,NaN
1,4,5,Dr. Waheed Noor,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,DBMS,NaN
2,5,6,Dr. Junaid Baber,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"Information processing, Multimedia mining",NaN
3,6,7,Dr. Maheen Bakhtyar,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"NLP, Information Retrieval, Question Answering...",NaN
4,24,25,Samina Azim,Sardar Bahadur Khan Women's University,Computer Science,Balochistan,Lecturer,BS,Balochistan University of Information Technolo...,Pakistan,2005.0,VLSI Electronics DLD Database,NaN

In [43]:
df2['Department'].unique()

array(['Computer Science & IT', 'Computer Science', 'Computing',
       'Computer Science and Software Engineering',
       'Computer and Information Sciences', 'Computer Science and IT',
       'Software Engineering', 'Computer Sciences',
       'Information Technology', 'CS & IT',
       'School of Information and Technology',
       'Institute of Mathematics & Computer Science',
       'ENGINEERING, SCIENCE & TECHNOLOGY', 'Computer Engineering',
       'Computing & Information Sciences',
       'FACULTY OF COMPUTING & ENGINEERING',
       'Computer Science and Engineering'], dtype=object)

In [44]:
df2['Terminal Degree'].unique()

array(['PhD', 'BS', 'MCS', 'MS', 'BE', 'Phd', nan, 'PostDoc', 'Masters',
       'MBA', 'MSc', 'BIT', 'MA', 'Mphil', 'MPhil', 'Post Doc', ' MCS',
       'MIT', 'BSC', 'MSCS', 'BSIT', 'MSC', 'M.Phil', 'Master',
       'Bachelors', 'M.Phil leading to PhD', 'BSCS', 'M.Sc', 'BCS', 'ME',
       'B.Ed', 'M.A', 'M.Eng', 'MCIT', 'B.E', 'M.E', 'MSIT', 'Ph.D',
       'MSSE', 'MSTN', 'Doctor of Professional Studies', 'BSc', 'BA'],
      dtype=object)